<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.yp.stock.warehouseOwnership.mapper.OwnershipMapper">

    <resultMap id = "FirstMap" type = "com.yp.stock.warehouseOwnership.bean.ShipVo">
        <id column = "id" jdbcType = "INTEGER" property = "id"/>
        <result column = "name" jdbcType = "VARCHAR" property = "name"/>
        <result column = "code" jdbcType = "VARCHAR" property = "code"/>
        <result column = "remark" jdbcType = "VARCHAR" property = "remark"/>
        <result column = "status" jdbcType = "TINYINT" property = "status"/>
        <result column = "storageSectionCode" jdbcType = "VARCHAR" property = "storageSectionCode"/>
        <result column = "storageSectionName" jdbcType = "VARCHAR" property = "storageSectionName"/>
        <result column = "storageSectionRemark" jdbcType = "VARCHAR" property = "storageSectionRemark"/>
        <result column = "cor_name" jdbcType = "VARCHAR" property = "corName"/>
    </resultMap>
    <update id = "addOwnership">
        update warehouse
        <set>
            cor_code=#{corCode}
        </set>
        <where>
            code in
            <foreach collection = "warehouseCode" item = "item" open = "(" separator = "," close = ")">
                #{item}
            </foreach>
        </where>
    </update>
    <select id = "queryFirstPage" resultMap = "FirstMap">
        select s.code as code,s.name as name,s.remark as remark,
        ra.area_code as storageSectionCode,ra.name as storageSectionName,
        ra.remark as storageSectionRemark,ra.status as status,
        c.cor_name as legalPersonName
        from corporation as c
        left join warehouse as w
        on c.cor_code=w.cor_code
        left join reservoir_area ra
        on w.area_code=ra.area_code
        left join storehouse s
        on s.code=ra.storehouse_code
        <where>
            <if test = "name != null and name != ''">
                and s.name like concat('%',#{name},'%')
            </if>
            <if test = "code != null and code != ''">
                and s.code like concat('%',#{code},'%')
            </if>
            <if test = "remark != null and remark != ''">
                and s.remark like concat('%',#{remark},'%')
            </if>
            <if test = "corCode !=null">
                and w.cor_code=#{corCode}
            </if>
            <if test = "status !=null">
                and ra.status=#{status}
            </if>
        </where>
    </select>
    <select id = "queryAreaListByStorehouseList" resultType = "com.yp.stock.area.bean.Area">
        select * from reservoir_area where storehouse_code in
        <foreach collection = "list" item = "item" open = "(" separator = "," close = ")">
            #{item}
        </foreach>
    </select>
    <select id = "queryKuweiListByAreaList" resultType = "com.yp.stock.kuwei.bean.Kuwei">
        select * from warehouse where area_code in
        <foreach collection = "list" item = "item" open = "(" separator = "," close = ")">
            #{item}
        </foreach>
    </select>

    <select id = "updateSituationByStoreCode" resultType = "java.lang.String">
        select area_code
        from reservoir_area
        where
        <foreach collection = "storeCodeList" item = "storeCode" separator = "or">
            storehouse_code = #{storeCode}
        </foreach>
    </select>

    <select id = "updateSituationByAreaCode" resultType = "java.lang.String">
        select code
        from warehouse
        where
        <foreach collection = "areaCodeList" item = "areaCode" separator = "or">
            area_code = #{areaCode}
        </foreach>
    </select>

    <select id = "updateStoreSituationByCorCode" resultType = "java.lang.String">
        select s.code
        from storehouse as s
                 left join reservoir_area as r on r.storehouse_code = s.code
                 left join warehouse as w on w.area_code = r.area_code
        where cor_code = #{corCode}
    </select>

    <select id = "updateAreaSituationByCorCode" resultType = "java.lang.String">
        select r.area_code
        from reservoir_area as r
                 left join warehouse as w on w.area_code = r.area_code
        where cor_code = #{corCode}
    </select>

    <select id = "updateWareSituationByCorCode" resultType = "java.lang.String">
        select code
        from warehouse
        where cor_code = #{corCode}
    </select>
    <select id = "queryBusiness" resultType = "com.yp.stock.area.bean.Area">
        select b.code, b.name, b.remark, b.status, ra.status
        from reservoir_area ra
                 left join area_business ba on ra.area_code = ba.area_code
                 left join business_attribute b on ba.business_code = b.code
    </select>
    <select id = "selectKuweiByLegalPersonId" resultType = "com.yp.stock.kuwei.bean.Kuwei">
        select *
        from warehouse
        where cor_code = #{corCode}
    </select>
    <select id = "selectAreaByKuweiList" resultType = "com.yp.stock.area.bean.Area">
        select * from reservoir_area where area_code in
        <foreach collection = "kuweiList" item = "item" open = "(" separator = "," close = ")">
            #{item.areaCode}
        </foreach>
    </select>
    <select id = "selectStoreHouseByAreaList" resultType = "com.yp.stock.storeHouse.bean.StoreHouse">
        select * from storehouse where code in
        <foreach collection = "areaList" item = "item" open = "(" separator = "," close = ")">
            #{item.storehouseCode}
        </foreach>
    </select>
    <select id = "selectStoreHouse" resultType = "com.yp.stock.storeHouse.bean.StoreHouse">
        select * from storehouse
        where
        <if test = "name != null and name != ''">
            name like concat('%',#{name},'%')
        </if>
        <if test = "code != null and code != ''">
            and code like concat('%',#{code},'%')
        </if>
    </select>
    <select id = "queryAreaList" resultType = "com.yp.stock.area.bean.Area">
        select * from reservoir_area
        left join area_business ab on reservoir_area.area_code = ab.area_code
        left join business_attribute ba on ab.business_code = ba.code
        <where>
            <if test = "code != null and code != ''">
                <foreach collection = "storeHouseList" item = "item" open = "(" separator = "," close = ")">
                    and storehouse_code = #{item.code}
                </foreach>
            </if>
            <if test = "attributeList != null">
                <foreach collection = "AreaAttribute" item = "item" open = "(" separator = "," close = ")">
                    and ba.name = #{item.name}
                </foreach>
            </if>
        </where>
    </select>
    <select id = "selectAreaByStoreHouseList" resultType = "com.yp.stock.area.bean.Area">
        select * from reservoir_area where storehouse_code in
        <foreach collection = "storeHouseList" item = "item" open = "(" separator = "," close = ")">
            #{item.code}
        </foreach>
    </select>
    <select id = "selectKuwei" resultType = "com.yp.stock.kuwei.bean.Kuwei">
        select * from warehouse
        <where>
            <if test = "code != null and code != ''">
                <foreach collection = "areaList" item = "item" open = "(" separator = "," close = ")">
                    and area_code = #{item.code}
                </foreach>
            </if>
        </where>
    </select>

    <update id = "deleteAllOwnershipByCorCode">
        update warehouse
        set cor_code = null
        where cor_code = #{corCode}
    </update>
    <update id = "updateStatus">
        update reservoir_area
        <set>
            status = #{status}
        </set>
        <where>
            area_code = #{areaCode}
        </where>
    </update>

</mapper>